<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin</title>

    <link rel="stylesheet" href="/css/style.css">
</head>

<body>
    <nav class="navbar">
        <div class="container flex justify-between items-center">
            <p>Overview</p>

            <div>
                <input type="text" placeholder="Search" class="p-3 border rounded">
            </div>
        </div>
    </nav>
    <br>
    <main class="container">
        <div class="grid grid-cols-4 border p-3">
            <p>Name</p>
            <p>Email</p>
            <p>Position</p>
            <p>Total Expense</p>
        </div>

        <!-- Mga lista users -->
        <div class="user-list">
            <div class="grid grid-cols-4 p-3">
                <p>Pedro Hagawhaw</p>
                <p>pedro.5@gmail.com</p>
                <p>Manager</p>
                <p>- Php 5359.00 </p>
            </div>

            <div class="grid grid-cols-4 p-3">
                <p>Pedro Hagawhaw</p>
                <p>pedro.5@gmail.com</p>
                <p>Manager</p>
                <p>- Php 5359.00 </p>
            </div>

            <div class="grid grid-cols-4 p-3">
                <p>Pedro Hagawhaw</p>
                <p>pedro.5@gmail.com</p>
                <p>Manager</p>
                <p>- Php 5359.00 </p>
            </div>

            <div class="grid grid-cols-4 p-3">
                <p>Pedro Hagawhaw</p>
                <p>pedro.5@gmail.com</p>
                <p>Manager</p>
                <p>- Php 5359.00 </p>
            </div>
            <div class="grid grid-cols-4 p-3">
                <p>Pedro Hagawhaw</p>
                <p>pedro.5@gmail.com</p>
                <p>Manager</p>
                <p>- Php 5359.00 </p>
            </div>
        </div>
    </main>
</body>

</html>