<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin</title>

    <link rel="stylesheet" href="/css/style.css">
</head>

<body>
    <nav class="navbar">
        <div class="container flex justify-between items-center">
            <div class="flex items-center gap-3">
                <img src="/images/logo.jpg" class="w-10 rounded-full" alt="">
                <p>Overview</p>
            </div>

            <div>
                <a href="/index.html" class="text-blue-500 underline hover:text-blue-300 transition-all">
                    Logout
                </a>
            </div>
        </div>
    </nav>
    <br>
    <main class="container">
        <div class="flex justify-between w-full mb-3">
            <div></div>
            <div class="w-80">
                <input type="text" placeholder="Search" id="user-search" class="form-input">
            </div>
        </div>
        <div class="grid grid-cols-5 border p-3">
            <p>Name</p>
            <p>Email</p>
            <p>Position</p>
            <p>Total Expense</p>
            <p>Actions</p>
        </div>

        <!-- Mga lista users -->
        <div class="user-list">

        </div>
    </main>

    <a href="/add-user.html"
        class="fixed bottom-10 right-10 p-3 rounded bg-blue-500 text-white hover:scale-105 transition-transform">
        Add User
    </a>

    <script>
        const usersList = document.querySelector(".user-list");
        const userSearch = document.getElementById("user-search");

        const token = localStorage.getItem("token");

        if (!token)
            location.href = "/";

        async function getUsers() {
            const res = await fetch("http://localhost:5000/admin/users", {
                method: "GET",
                headers: {
                    "Authorization": `Bearer ${token}`
                },
            });
            const data = await res.json();
            console.log(data);
            updateList(data);
        }

        async function fetchData() {
            await getUsers();
        }

        fetchData();

        userSearch.addEventListener("input", async evt => {
            const value = evt.target.value;
            const res = await fetch(`http://localhost:5000/admin/users/search?q=${value}`,
                {
                    headers: {
                        "Authorization": `Bearer ${token}`
                    }
                });
            const data = await res.json();

            console.log(data);

            updateList(data);
        });

        function updateList(data) {
            usersList.innerHTML = "";

            console.log(data);

            for (let i = 0; i < data["data"].length; i++) {
                usersList.innerHTML += `
                <a href="/user-info.html?userId=${data["data"][i].user_id}" class="grid grid-cols-5 p-3">
                <p>${data["data"][i].firstname} ${data["data"][i]["lastname"]}</p>
                <p>${data["data"][i]["email"]}</p>
                <p>${data["data"][i]["position"]}</p>
                <p class="text-green-500">Php ${data["data"][i]["total_expense"] ?? 0} </p>
                <p data-userId="${data["data"][i].user_id}" ><svg width="24" style="pointer-events: none" height="24" fill="none" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path d="M21.5 6a1 1 0 0 1-.883.993L20.5 7h-.845l-1.231 12.52A2.75 2.75 0 0 1 15.687 22H8.313a2.75 2.75 0 0 1-2.737-2.48L4.345 7H3.5a1 1 0 0 1 0-2h5a3.5 3.5 0 1 1 7 0h5a1 1 0 0 1 1 1Zm-7.25 3.25a.75.75 0 0 0-.743.648L13.5 10v7l.007.102a.75.75 0 0 0 1.486 0L15 17v-7l-.007-.102a.75.75 0 0 0-.743-.648Zm-4.5 0a.75.75 0 0 0-.743.648L9 10v7l.007.102a.75.75 0 0 0 1.486 0L10.5 17v-7l-.007-.102a.75.75 0 0 0-.743-.648ZM12 3.5A1.5 1.5 0 0 0 10.5 5h3A1.5 1.5 0 0 0 12 3.5Z" fill="#000"/></svg></p>
            </a>
                `;
            }
        }

        // document.addEventListener("click", async evt => {
        //     // evt.preventDefault();

        //     /**
        //      * @type{HTMLElement} 
        //      **/
        //     const target = evt.target;

        //     if (target.matches("[data-userId]")) {
        //         const res = await fetch(`http://localhost:5000/admin/users?userId=${target.getAttribute("data-userId")}`,
        //             {
        //                 method: "DELETE",
        //                 headers: {
        //                     "Authorization": `Bearer ${token}`
        //                 }
        //             }
        //         )

        //         if (res.status == 200){
        //             alert("Delete Successfully")
        //             fetchData();
        //         }
        //     }
        // })
    </script>
</body>

</html>