<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>User Info</title>

    <link rel="stylesheet" href="/css/style.css">

    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>

</head>

<body>
    <nav class="navbar fixed top-0 left-0 bg-white">
        <div class="container">
            <div class="flex gap-3 items-center">
                <a href="/overview.html">
                    <svg width="20" height="20" fill="none" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                        <path
                            d="M15.707 4.293a1 1 0 0 1 0 1.414L9.414 12l6.293 6.293a1 1 0 0 1-1.414 1.414l-7-7a1 1 0 0 1 0-1.414l7-7a1 1 0 0 1 1.414 0Z"
                            fill="#333" />
                    </svg>
                </a>
                <p>User Expense Info</p>
            </div>
        </div>
    </nav>
    <br>
    <br>
    <br>
    <main class="container flex">
        <div class="flex-1">
            <canvas id="doughnut-chart" class="w-56"></canvas>
        </div>
        <div class="flex-1">
            <p class="text-xl">
                Expense List
            </p>
            <div class="flex flex-col gap-4" id="expense-list">

            </div>
        </div>
    </main>
    <script>
        const doughnutChart = document.getElementById("doughnut-chart");
        const expenseList = document.getElementById("expense-list");
        const token = localStorage.getItem("token");


        if (!token)
            location.href = "/";

        async function fetchData() {
            const urlParams = new URLSearchParams(location.search);
            const userId = urlParams.get("userId");

            const overviewRes = await fetch(`http://localhost:5000/expense/overview?userId=${userId}`,
                {
                    headers: {
                        "Authorization": `Bearer ${token}`
                    }
                });
            const overviewData = await overviewRes.json();

            const chartData = {
                labels: overviewData.data.map((value) => (value.category)),
                datasets: [
                    {
                        label: 'Dataset 1',
                        data: overviewData.data.map((value) => (value.total_expense)),
                        backgroundColor: [
                            "#34d399",
                            "#c084fc",
                            "#fb7185"
                        ],
                    }
                ]
            };


            const config = {
                type: 'doughnut',
                data: chartData,
                options: {
                    responsive: true,
                    plugins: {
                        legend: {
                            position: 'top',
                        },
                        title: {
                            display: true,
                            text: 'Expense Overview'
                        }
                    }
                },
            };
            const chart = new Chart(doughnutChart, config);

            const recentTransactionRes = await fetch(`http://localhost:5000/expense/transactions?userId=${userId}`,
            {
                headers: {
                    Authorization: `Bearer ${token}`
                }
            })
            const recentTransactionData = await recentTransactionRes.json();

            console.log(recentTransactionData)

            recentTransactionData.data.forEach((value) => {
                expenseList.innerHTML += `
                <div class="flex justify-between items-center hover:bg-neutral-300 rounded p-3">
                    <div>
                        <p>${value.category}</p>
                        <p class="text-sm">${value.note}</p>
                    </div>

                    <div>
                        <p class="text-rose-500">- Php ${value.amount}</p>
                    </div>
                </div>
                `;
            })
        }

        fetchData();

    </script>
</body>

</html>